#profile{
    position: absolute;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(#606060,#4a4a4a,#323232);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-left: 400px;
}
#profile img{
    width: 275px;
    height: 275px;
    border: 2px solid black;
    border-radius: 20px;
}

#profile h2{
    font-family:unset;
    color: white;
    font-size: 28px;
}
#profile h3{
    font-family:unset;
    color: white;
    font-size: 26px;
}

#profile-info{
    width: 450px;
    height: 275px;
    border: 2px solid white;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}